[Desktop Entry]
Type=Application
Name=QuakeSpasm
Comment=An engine for iD software's Quake.
Icon=${SNAP}/snap/gui/quake.png
Exec=quakespasm-beidl.quakespasm-launch
Categories=Game;ActionGame;
Keywords=first;person;shooter;quake;
